<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532395068238-bqkouqodui66bgiaef1k7gec1to65ah9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532395068238-bqkouqodui66bgiaef1k7gec1to65ah9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>532395068238-689k2be295bkbe888lphgo9ulvf2anb8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBe6lr7_ysqlgxlsyfLp0V2g5utruJXe2A</string>
	<key>GCM_SENDER_ID</key>
	<string>532395068238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rajamohan.mindmingle</string>
	<key>PROJECT_ID</key>
	<string>tech-connect-44987</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-connect-44987.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:532395068238:ios:7ff9e2de65ddcd09f46c1f</string>
	<key>DATABASE_URL</key>
	<string>https://tech-connect-44987-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
